datasets/
PretrainedModels/
logs/
outputs/
results/
.git/
.idea/
.vscode/
.ipynb_checkpoints/
.pytest_cache/
Sentiment/
wandb/
__pycache__/
FND2/Chinese-CLIP
*.doc
*.docx
*.pdf
Chinese-CLIP/
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
*.h5
*.hdf5
*.ipynb
whl/
autodl-tmp/
Pretrained/
*.lnk
results/
*.yml
venv/
process_data/GOT-OCR2_0/
.env